.dark-eye-5 .flex {
    display: flex;
}

.dark-eye-5 .row {
    flex-direction: row;
}

.dark-eye-5 .column {
    flex-direction: column;
}

.dark-eye-5 .border {
    border: 2px solid var(--color-border);
    border-radius: 3px;
    padding: 5px;
}

.dark-eye-5 .background {
    background: url(../../asset/image/background-window.jpg) repeat;
}

.dark-eye-5 .grow {
    flex-grow: 1;
}

.dark-eye-5 .wrap {
    flex-wrap: wrap;
}

.dark-eye-5 .justify-center {
    justify-content: center;
}